*~
*.o
*.a
*.cma
*.cmxa
*.cmo
*.cmi
*.cmt
*.cmti
*.cmx
*.annot
*.output
.*.sw*
links
jsonlex.ml
jsonparse.ml
jsonparse.mli
lexer.ml
parser.ml
parser.mli
xmlLexer.ml
xmlParser.ml
xmlParser.mli
._d
._ncdi
._bcdi
*.links.cache

# oUnit files
oUnit-*.log
oUnit-*.cache

# Vim temporary and backup files
.*.swp
.*.swo

# Emacs temporary and backup files
\#*
.#*

# documentation
quick-help.html
doc/*.aux
doc/*.log
doc/*.pdf
doc/*.toc

# ocamlbuild artefacts
_build
links.byte
links.native

# database configuration
tests/database/config

# shredding configuration
tests/shredding/config
