# Checkout files in repository using native line endings by default
* text=auto

# Some file extensions are binary and should not be modified in any way
*.pdf binary
*.zip binary

# An important exception is a file for testing Links' support for DOS line
# endings
tests/dos-newlines.links text=crlf
