sudo: required
dist: focal
language: c
services:
  - postgresql
  - mysql
addons:
  apt:
    # This has the same effect as running apt-get update, but avoid problems
    # with signature verification
    update: true
  postgresql: '12'
  mysql: '8'
  apt:
    packages:
      - postgresql-12
      - mysql-client-8.0
      - mysql-server-8.0
env:
  global:
    - PGPORT=5433
    - PGUSER=travis
    - DBUSER=links
    - DBNAME=links
before_install:
  - git diff-index --quiet HEAD --
  # BEGIN postgresql trust based authentication
  - sudo sed -i -e '/local.*peer/s/postgres/all/' -e 's/peer\|md5/trust/g' /etc/postgresql/*/main/pg_hba.conf
  - sudo systemctl restart postgresql
  # END
  - sudo apt-get install -y ocaml-nox ocaml-native-compilers opam python3-setuptools python3-pip libev-dev
  - pip3 install -U Sphinx
  - opam init --disable-sandboxing -n
  - opam switch create ocaml-base-compiler.4.08.0
  - eval `opam config env`
  - opam install -y conf-libev conf-mysql
  - opam install -y ocamlformat.0.14.2 ounit2
  - make rule-check
  - psql -c "create database $DBNAME;" -U postgres
  - psql -c "CREATE ROLE $DBUSER SUPERUSER LOGIN CREATEDB;" -U postgres
  - mysql -e "CREATE DATABASE $DBNAME;"
  - mysql -e "CREATE USER $DBUSER IDENTIFIED BY 'links';"
  - mysql -e "GRANT ALL ON $DBNAME.* TO $DBUSER;"
  - mysql -e "FLUSH PRIVILEGES;"
script:
  - opam pin add links . -y
  - opam pin add links-postgresql . -y
  - opam pin add links-sqlite3 . -y
  - opam pin add links-mysql . -y
  - make doc
  - make all-ci
  - make tests
  - ./run-database-tests tests/database -d mysql
  - ./run-database-tests tests/shredding -d all
  - ./run-database-tests tests/relational-lenses -d all
  - ./run-tests unit
