sudo: required
dist: trusty
language: c
services:
  - postgresql
before_install:
  - make rule-check
  - sudo add-apt-repository -y ppa:avsm/ppa
  - sudo apt-get -qq update
  - sudo apt-get install -y ocaml-nox ocaml-native-compilers opam
  - opam init -a
  - opam switch 4.06.1
  - eval `opam config env`
  - opam install -y postgresql oUnit
  - psql -c 'create database links;' -U postgres
script:
  - opam pin add links . -y
  - opam pin add links-postgresql . -y
  - make nc-release
  - make tests
  - ./run-tests db-only shredding
  - ./run-tests lens
