sudo: required
dist: focal
language: c
services:
  - postgresql
  - mysql
before_install:
  - git diff-index --quiet HEAD --
  - sudo add-apt-repository -y ppa:avsm/ppa
  - sudo apt-get -qq update
  - sudo apt-get install -y ocaml-nox ocaml-native-compilers python3-setuptools python3-pip libev-dev
  - pip3 install -U Sphinx
  - ./install_local_opam2.sh
  - ./opam2_local switch create ocaml-base-compiler.4.08.0
  - eval `./opam2_local config env`
  - ./opam2_local install conf-libev
  - ./opam2_local install -y postgresql mysql ounit2
  - ./tools/install_ocamlformat
  - make rule-check
  - psql -c 'create database links;' -U postgres
  - mysql -e 'CREATE DATABASE links;'
  - mysql -e "CREATE USER links IDENTIFIED BY '12345';"
  - mysql -e 'GRANT ALL ON  links.* TO links;'
script:
  - ./opam2_local pin add links . -y
  - ./opam2_local pin add links-postgresql . -y
  - ./opam2_local pin add links-sqlite3 . -y
  - ./opam2_local pin add links-mysql . -y
  - make doc
  - make all-ci
  - make tests
  - ./run-database-tests tests/database -d all
  - ./run-database-tests tests/shredding -d all
  - ./run-database-tests tests/relational-lenses -d all
  - ./run-tests unit
