sudo: required
dist: trusty
language: c
services:
  - postgresql
before_install:
  - sudo add-apt-repository -y ppa:avsm/ppa
  - sudo apt-get -qq update
  - sudo apt-get install -y ocaml-nox ocaml-native-compilers camlp4-extra opam
  - opam init -a
  - opam switch 4.06.1
  - eval `opam config env`
  - opam install -y postgresql
  - psql -c 'create database links;' -U postgres
script:
  - opam pin add links . -y
  - opam pin add links-postgresql . -y
  - make nc
  - make tests
  - ./run-tests db-only shredding
