sudo: required
dist: trusty
language: c
services:
  - postgresql
before_install:
  - sudo add-apt-repository -y ppa:avsm/ppa
  - sudo apt-get -qq update
  - sudo apt-get install -y ocaml-nox ocaml-native-compilers camlp4-extra opam
  - opam init -a
  - opam switch 4.04.0
  - eval `opam config env`
  - psql -c 'create database links;' -U postgres
install:
  - opam pin add links-dev . -n -y
  - opam install -y --deps-only links-dev
  - opam pin remove links-dev -y
  - opam install -y postgresql  
script:
  - make -j2 nc
  - make tests
  - ./run-tests db-only shredding
