# Prefix for installation - default is /usr/local
LINKS_PREFIX=/usr/local
LINKS_BIN=$(LINKS_PREFIX)/bin
LINKS_LIB=$(LINKS_PREFIX)/lib/links

# EXTRA_LIBDIRS gives the paths of any additional libraries that need to be
# linked for your particular database library to work.
#   (e.g. /usr/local/mysql/lib)
# If building using OPAM and Ocamlfind, this should not need to be changed
EXTRA_LIBDIRS=
