html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
  margin:0pt;
  padding:0pt;
  list-style-type: none;
}

input {
  border: 1px solid;
  font-family: tahoma, verdana, helvetica;
  font-size: 11px;
}

.editor { 
  width: 480px;
  height: 400px;
  border: 1px solid #85B1FF;
  position: absolute;
  left: 160px;
  top: 25px;
}

.space { 
  width: 10px;
  height: 400px;
  position: absolute;
  left: 152px;
  top: 25px;
  background-image: url('images/bg-grad-vert.jpg');
  border-top: 1px solid #85B1FF;
  border-bottom: 1px solid #85B1FF;
}

.proj-browser { 
  border: 1px solid #85B1FF;
  width: 150px;
  height: 400px;
  position: absolute;
  left: 0px;
  top: 25px;
  margin-top: 0px;
  margin-left: 0px;
}

.proj-items { 
  overflow: auto;
  font-family: tahoma, verdana, helvetica;
  font-size: 11px;
  font-size-adjust: none;
  font-style: normal;
  font-variant :normal;
  font-weight: normal;
  line-height: normal;
  white-space: nowrap;
  vertical-align: top;
  height: 375px;
}

.proj-text { 
  padding:1px 3px 1px 2px;
  display: compact;
  text-decoration: none;
  float: middle;
  position: top;
  offset: 0px 0px 0px 38px;
  top: -6px;
  cursor: pointer;
}

ul.proj-list { 
  margin: 0px;
  padding: 0px;
  list-style-position: outside;
  list-style-type: none;
  vertical-align: top;
  height: 300px:
}

li.proj-list-item { 
  vertical-align: top;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: 0px;
  cursor: pointer;
}

.proj-list-item span {
  position: relative;
  top: -4px;
}

.proj-node { 
  vertical-align: top;
  height: 16px;
}

.proj-blank { 
  background-image: url("images/dots.png");
  background-repeat: no-repeat;
}

.caption-bg { 
  background-image: url('images/bg-grad.jpg');
  width: 150px;
  height: 25px;
  //vertical-align: bottom;
  border-bottom: 1px solid #85B1FF;
}

.caption-text { 
  font-family: tahoma, verdana, helvetica;
  font-size: 11px;
  padding: 6px;
  height: 19px;
  -moz-user-select: none;
  display: block;
}

.values { 
  position: absolute;
  left: 0px;
  top: 425px;
}

div.index {
  font-weight: bold;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

object.main { 
  width: 600px;
  height: 400px;
  border: 1px solid;
}

span.menu {
  text-decoration: underline;
  -moz-user-select: none;
}

#menubar {
  position: relative;
  font-family: tahoma, verdana, helvetica;
  font-size: 11px;
  padding: 6px;
  height: 19px;
  -moz-user-select: none;
}

div.menu {
  background-image: url('images/bg-grad.jpg');
  width: 640px;
  height: 25px;
  border-right: 1px solid #85B1FF;
  border-left: 1px solid #85B1FF;
  border-bottom: 1px solid #85B1FF; 
  position: absolute;
  left: 0px;
  top: -1px;
}

.centre {
  border: 1px solid;
  position: absolute;
  left: 321px;
  top: 241px;
  width: 200px;
  height: 150px;
}

.centered {
  position: absolute;
  left: 33%;
  top: 33%;
}

.box {
  color: #000000;
  background: #85B0FF;
  border: 1px solid #000000;
  padding: 3px;
  width: 210px;
  z-index: 102;
  opacity: 1.0;
  filter: alpha(opacity = 100); 
  -moz-opacity: 1.0;
}

.invisible {
  display: none;
}

bottombar {
  position: relative;
  left: 0px;
  top: 75px;
  background-image: url('images/bg-grad.jpg');
  height: 25px;
  align: left;
}  

.topbar {
  position: relative;
  left: 0px;
  top: 0px;
  background-image: url('images/bg-grad.jpg');
  height: 25px;
}

.container-box {
  background: #FFFFFF;
  padding: 0px;
  margin: 0px;
  height: 100px;
}

.padded {
  padding: 2px;
  margin-top: 4px;
  margin-bottom: 4px; 
  margin-right: 0px;
  margin-left: 4px;
  position: relative;
  top: 25%;
} 

.input-box {
  border: 1px solid;
  height: 20px;
  width: 130px;
  margin-left: 8px;
}  

.fieldset .br {
  display: none;
}

.fieldset .button {
  font-family: Verdana;
  font-size: 10px;
}

.fieldset label {
  font-family: Verdana;
  font-size: 10px;
  margin: 2px;
  text-align: left;
  width: 50px;
  float: left;
}

.fieldset .textfield {
  font-family: Verdana;
  font-size: 10px;
  margin-left: 3px;
  width: 130px;
  border: 1px solid;
}

.fieldset .legend {
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
}

.overlay {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 642;
  height: 481;
  background: #ffffff;
  z-index: 101;
  opacity:.50;
  filter: alpha(opacity = 50); 
  -moz-opacity: 0.5;
}

#menubar dt {
  cursor: pointer;
  text-align: center;
}

.menuhead span {
  margin-left: 1em;
  margin-right: 1em;
}

#menubar dl {
  float: left;
  height: 20px;
}

#menubar dd {
  display: none;
  z-index: 100;
  background: #85BFFF;
  border: 1px solid #85B1FF;
  position: absolute;
  margin-right: 2px;
  width: 8em;
}

#menubar li {
  margin-left: 0px;
  margin-top: 0px;
  height: 20px;
}

#menubar ul {
  spacing: 0px;
  padding: 0px;
}

.menulist span {
  margin-top: 1em;
  margin-left: 1em;
  position: relative;
  top: 4px;
}

.menulist hr {
  position: relative;
  top: -2px;
  cursor: default;
}

#menubar li:hover {
  background: #85B1FF;
}

.spacer {
  background: #85B1FF;
  height: 4px;
}

#menulist {
  cursor: pointer;
}
 
.link {
  cursor: pointer;
}